ion-content{
    --ion-background-color: white;
    

}
.areSafe{
    background-color:rgba(0,0,0,0);
    margin: 20px;
}
.new-background-color{
    --background: #FFF;
}
.headerName{
 
    color:#2699FB;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;

}
ion-item.custom{
    background-color: #F1F9FF;
    margin-bottom: 20px;
}

ion-item.custom ion-label {
    color: #2699FB;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

  }
  ion-item.custom ion-label.descricao{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2699FB;
  }

 ion-item.custom{
     margin-left: 10px;
    --background: white;
    --border-color:rgba(0,0,0,0);

}
ion-item.custom ion-thumbnail{

    --border-radius:100px;
}

ion-grid.grid ion-text {
color:#2699FB;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
text-justify: distribute;

}
ion-grid.grid ion-col{
    background-color: #F1F9FF;
    margin: 4px;
    padding: 20px;

}
.textBio{
    color: #2699FB;
    font-size: 20x;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 20px;
}
.areaBio{
    margin-bottom: 20px;
    padding: 10px;
}

