<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="color: #2699FB;"></ion-back-button>
      <ion-title class="headerName">Dogs</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list class="custom" *ngFor="let dog of dogs; let i= index" >
    <ion-item button (click)="openModal(i)">
      <ion-thumbnail slot="start">
        <img src="{{dog.photo}}">
      </ion-thumbnail>
      <ion-col>
        <ion-row>
          <ion-label>{{dog.nome}} {{dog.sobrenome}}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="telefone">{{dog.email}}</ion-label>
        </ion-row>
      </ion-col>
      

    </ion-item>
  </ion-list>
</ion-content>